[submodule "tpm"]
	path = tmux/tmux.symlink/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "firefox/vimperator.symlink/colors"]
	path = firefox/vimperator.symlink/colors
	url = https://github.com/vimpr/vimperator-colors
[submodule "zsh/zi.symlink/bin"]
	path = zsh/zi.symlink/bin
	url = git@github.com:z-shell/zi.git
