[submodule "tpm"]
	path = tmux/tmux.symlink/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "todo-standup"]
	path = todo.symlink/actions/todo-standup
	url = https://github.com/civrot/todo_txt_actions.git
[submodule "todo-recur"]
	path = todo.symlink/actions/todo-recur
	url = https://github.com/EdJoJob/todo.txt-recurring-tasks.git
[submodule "todo.symlink/actions/todo-daily.repeat.upgrade"]
	path = todo.symlink/actions/todo-daily.repeat.upgrade
	url = https://github.com/drobertadams/todo.txt-cli-addons
[submodule "zsh/zgen.symlink"]
	path = zsh/zgen.symlink
	url = https://github.com/tarjoilija/zgen.git
[submodule "firefox/vimperator.symlink/colors"]
	path = firefox/vimperator.symlink/colors
	url = https://github.com/vimpr/vimperator-colors
