editor/vim.symlink/tmp/
.hg
.DS_Store
.netrwhist
editor/vim.symlink/bundle/
tmux/tmux.symlink/plugins/*
tmux/tmux.symlink/resurrect
*.pyc
notes/
todo.symlink/todo/
weechat.symlink/logs/
weechat.symlink/*.log
weechat.symlink/script/plugins.xml.gz
firefox/vimperator.symlink/info/default/*
!firefox/vimperator.symlink/info/default/ignored-keys

ptpython.symlink/history

editor/vim.symlink/init.vim
todo.symlink/todo

editor/vim.symlink/spell/

gnupg.symlink/*
!gnupg.symlink/gpg-agent.conf
!gnupg.symlink/gpg.conf

xmonad.symlink/*.o
xmonad.symlink/*.hi
xmonad.symlink/*.errors
xmonad.symlink/xmonad-x86_64-linux

# ignore symlinked todo.sh if it exists, used for Linux/macOS compatibility
bin.symlink/todo.sh
