snippet 1on1
[1on1s](//1on1)
endsnippet

snippet 1:1s
## [1:1s](/1on1)

## `date "+%d %b %Y"`
endsnippet

snippet diary
[`date +'%Y-%m-%d'`](diary:`date +'%Y-%m-%d'`)
endsnippet

snippet powerup
# Powerup
## ${1}
:/courses/aws/saa-co2/POWERUP:
endsnippet
